files used in node-red/install node.txt
[{"id":"aef485c0.530ed8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"bb5f7e00.8346","type":"inject","z":"aef485c0.530ed8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["218bd9ea.3e7d46"]]},{"id":"b15c034a.3e88e","type":"debug","z":"aef485c0.530ed8","name":"final output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":140,"wires":[]},{"id":"d11f01b6.67d4a","type":"debug","z":"aef485c0.530ed8","name":"final error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":720,"y":180,"wires":[]},{"id":"9f6f63fe.b932c","type":"debug","z":"aef485c0.530ed8","name":"error code","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":720,"y":240,"wires":[]},{"id":"4a54d408.fecddc","type":"exec","z":"aef485c0.530ed8","command":"cd Users\\no-9&npm install","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":510,"y":180,"wires":[["b15c034a.3e88e"],["d11f01b6.67d4a"],["9f6f63fe.b932c"]]},{"id":"218bd9ea.3e7d46","type":"file in","z":"aef485c0.530ed8","name":"reading content","filename":"C:\\Users\\no-9\\Desktop\\abc.txt","format":"utf8","chunk":false,"sendError":false,"x":300,"y":180,"wires":[["4a54d408.fecddc"]]}]