node-red-flows/install-nodes-from-files.json
[{"id":"dfbdd498.eb5488","type":"tab","label":"installing nodes dynamically","disabled":true,"info":""},{"id":"57f5e24c.d02f5c","type":"inject","z":"dfbdd498.eb5488","name":"","topic":"","payload":"insert something","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":80,"wires":[["41c4c268.9cc6bc","d35cfc7d.f7ba7"]]},{"id":"41c4c268.9cc6bc","type":"file","z":"dfbdd498.eb5488","name":"adding file","filename":"C:\\Users\\no-9\\Desktop\\abc.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":490,"y":40,"wires":[[]]},{"id":"d35cfc7d.f7ba7","type":"debug","z":"dfbdd498.eb5488","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":490,"y":100,"wires":[]},{"id":"4ad9761a.35bbe8","type":"inject","z":"dfbdd498.eb5488","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":98,"y":200,"wires":[["fae53c10.8dda2"]]},{"id":"c44a6a6d.5f91d8","type":"debug","z":"dfbdd498.eb5488","name":"final output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":160,"wires":[]},{"id":"675c31d4.37798","type":"debug","z":"dfbdd498.eb5488","name":"final error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":700,"y":200,"wires":[]},{"id":"58c543f8.4dce6c","type":"debug","z":"dfbdd498.eb5488","name":"error code","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":240,"wires":[]},{"id":"aa64592c.500548","type":"exec","z":"dfbdd498.eb5488","command":"cd Users\\no-9&npm install","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":510,"y":200,"wires":[["c44a6a6d.5f91d8"],["675c31d4.37798"],["58c543f8.4dce6c"]]},{"id":"fae53c10.8dda2","type":"file in","z":"dfbdd498.eb5488","name":"reading content","filename":"C:\\Users\\no-9\\Desktop\\abc.txt","format":"utf8","chunk":false,"sendError":false,"x":220,"y":280,"wires":[["a53542ad.293de"]]},{"id":"a53542ad.293de","type":"split","z":"dfbdd498.eb5488","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":390,"y":280,"wires":[["aa64592c.500548"]]}]