node-red-flows/mainconfigflow.json
[{"id":"2462b580.300a0a","type":"subflow","name":"db","info":"","category":"","in":[{"x":235.5,"y":202,"wires":[{"id":"5db22b99.ab0384"}]}],"out":[{"x":515.5,"y":202,"wires":[{"id":"5db22b99.ab0384","port":0}]}]},{"id":"5db22b99.ab0384","type":"sqlite","z":"2462b580.300a0a","mydb":"74e6d6c7.6d40f8","sqlquery":"msg.topic","sql":"","name":"connect","x":375.5,"y":202,"wires":[[]]},{"id":"74e6d6c7.6d40f8","type":"sqlitedb","z":"","db":"C:\\Users\\no-9\\.node-red\\node-red-config","mode":"RWC"},{"id":"500b3d83.c82fa4","type":"tab","label":"dashboard","disabled":false,"info":""},{"id":"fdc3191.37619e8","type":"http in","z":"500b3d83.c82fa4","name":"","url":"/simple","method":"post","upload":false,"swaggerDoc":"","x":112,"y":667,"wires":[["5b45a56d.d51ebc"]]},{"id":"698d6960.757c88","type":"http response","z":"500b3d83.c82fa4","name":"post","statusCode":"","headers":{},"x":715,"y":662,"wires":[]},{"id":"5b45a56d.d51ebc","type":"function","z":"500b3d83.c82fa4","name":"set cpname global var","func":"\nglobal.set('cpname',msg.payload.cpname);\nglobal.set('cpver',msg.payload.cpver);\n//msg={topic:\"cpname,cpver set as global variable\"};\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"x":326.5,"y":666,"wires":[["5647f85c.8a92a8"]]},{"id":"5647f85c.8a92a8","type":"template","z":"500b3d83.c82fa4","name":"makeconfigpage","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        var alldiv =[];\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/makecp\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            // important reusable code dont delete this\n            /*ws.onmessage = function(msg) {\n                data = JSON.parse(msg.data);\n                console.log(data);\n                console.log(data.length);\n                for(var i=0;i<data.length;++i)\n                {\n                    createform(data[i].id);\n                    document.getElementById(\"lable\"+data[i].id).value=data[i].lable;\n                    document.getElementById(\"name\"+data[i].id).value=data[i].name; \n                    document.getElementById(\"lable\"+data[i].id).readOnly=true; \n                    document.getElementById(\"name\"+data[i].id).readOnly=true; \n                    document.getElementById(\"reset\"+data[i].id).style.display=\"none\"; \n                    console.log(data[i].id);              \n                }                \n            }*/\n\n            ws.onopen = function() {\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                console.log(\"not connected\");\n                setTimeout(wsConnect,3000);\n            }\n        }\n\n        function createform(id) {\n          var cnt=id;\n          alldiv.push(cnt);\n          var x = document.getElementById(\"screen\");\n\n          var createform = document.createElement('div');\n          createform.setAttribute(\"id\",\"div\"+cnt);\n          x.appendChild(createform);\n          var line = document.createElement('hr'); // Giving Horizontal Row After Heading\n          createform.appendChild(line);\n          var lable_label = document.createElement('label'); // Create Label for Lable Field\n          lable_label.innerHTML = \"Label : \"; // Set Field Labels\n          createform.appendChild(lable_label);\n\n          var inputelement = document.createElement('input'); // Create Input Field for Lable\n          inputelement.setAttribute(\"id\",\"lable\"+cnt);\n          createform.appendChild(inputelement);\n\n          var namelabel = document.createElement('label'); // Create Label for name Field\n          namelabel.innerHTML = \" Name : \";\n          createform.appendChild(namelabel);\n\n          var nameelement = document.createElement('input'); // Create Input Field for name\n          nameelement.setAttribute(\"id\",\"name\"+cnt);\n          createform.appendChild(nameelement);\n\n          var resetbutton = document. createElement(\"button\");\n          resetbutton. innerHTML = \"reset\"; // Append Submit Button\n          resetbutton.setAttribute(\"id\",\"reset\"+cnt);\n          resetbutton.setAttribute(\"onclick\",\"reset(this.id)\");\n          createform.appendChild(resetbutton);\n         \n          var deletebutton = document. createElement(\"button\");\n          deletebutton. innerHTML = \"delete\"; // Append Submit Button\n          deletebutton.setAttribute(\"id\",\"delete\"+cnt);\n          deletebutton.setAttribute(\"onclick\",\"deletediv(this.id)\");\n          createform.appendChild(deletebutton);\n        }\n        \n        function deletediv(m) {\n          var nid= m.substring(\"6\",m.length);\n          var x= document.getElementById(\"div\"+nid);\n          x.style.display = \"none\";\n          for(var count=0;count<alldiv.length;count++)\n          {\n            if(nid=alldiv[count])\n            {\n              alldiv.splice(count,1);\n              break;\n            }\n          }\n        }\n\n      function createformid()\n      {\n        var cnt=Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);\n        createform(cnt);\n      } \n\n      function submit()\n      {\n        //generate html file\n        //send this generated data to ws/makecp\n        //dynamic html page\n        console.log(\"all div\"+alldiv.length);\n            var foo ='<html><body><h1>hey user page started!!</h1></br><hr>';\n            var count=0;\n            for(var i=0;i<alldiv.length;++i)\n            {\n              if(i<alldiv.length-1)\n              {\n                //if current and the next field is not equal\n                if((document.getElementById(\"lable\"+alldiv[i]).value).trim()!=(document.getElementById(\"lable\"+alldiv[i+1]).value).trim())\n                {\n                  if(count===0)\n                  {\n                    foo +='<div>';\n                    foo +='<label for=\"male\">'+document.getElementById(\"lable\"+alldiv[i]).value+'</label>';\n                    foo +='<input id=\"input\" value=\"'+document.getElementById(\"name\"+alldiv[i]).value+'\">';\n                    foo +='</div>';\n                  }\n                  if(count!=0)\n                  {\n                    foo +='<option value=\"'+document.getElementById(\"name\"+alldiv[i]).value+'\">';\n                    foo +=document.getElementById(\"name\"+alldiv[i]).value+'</option>';\n                    foo +='</select></div>';\n                    count=0;\n                  }\n                }\n                // if the current value and next value field is equal\n                if((document.getElementById(\"lable\"+alldiv[i]).value).trim()==(document.getElementById(\"lable\"+alldiv[i+1]).value).trim())\n                {\n                    //do something with foo\n                    if(count===0)\n                    {\n                      foo +='<div>';\n                      foo +='<Label>'+document.getElementById(\"lable\"+alldiv[i]).value+'</lable>';\n                      foo +='<select id=\"dropdown\">';\n                      count=count+1;\n                    }\n                    foo +='<option value=\"'+document.getElementById(\"name\"+alldiv[i]).value+'\">';\n                    foo +=document.getElementById(\"name\"+alldiv[i]).value+'</option>';\n                }\n              }\n              if(i==alldiv.length-1)\n              {\n                if((document.getElementById(\"lable\"+alldiv[i-1]).value).trim()==(document.getElementById(\"lable\"+alldiv[i]).value).trim())\n                {\n                  //do something with foo\n                  foo +='<option value=\"'+document.getElementById(\"name\"+alldiv[i]).value+'\">';\n                  foo +=document.getElementById(\"name\"+alldiv[i]).value+'</option>';\n                  foo +='</select></div>';\n                  count=0;\n                }\n                else{\n                  //DO something with foo\n                  foo +='<div>';\n                  foo +='<label>'+document.getElementById(\"lable\"+alldiv[i]).value+'</label>';\n                  foo +='<input id=\"input\" value=\"'+document.getElementById(\"name\"+alldiv[i]).value+'\">';\n                  foo +='</div>';\n\n                }\n              }\n            }\n            foo +='</body></html>';\n            console.log(foo);\n            //create_table_config();\n            saveconfig(foo);\n      }\n\n      function saveconfig(foo){\n        cnt=Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);\n        if(ws)\n        {\n          var foo1=foo.replace(/\"/g,'\"\"');\n          m={blobcode:foo1,cpuid:cnt};\n          c=JSON.stringify(m);\n          ws.send(c);\n        }\n        for(var count=0;count<alldiv.length;++count)\n        {\n          document.getElementById(\"reset\"+alldiv[count]).disable=true;\n          document.getElementById(\"delete\"+alldiv[count]).disable=true;\n          document.getElementById(\"name\"+alldiv[count]).readOnly = true;\n          document.getElementById(\"lable\"+alldiv[count]).readOnly=true;\n        }\n        document.getElementById(\"save_config_btn\").disable=true;\n        document.getElementById(\"add_row_btn\").disable=true;\n      }\n\n      function reset(id){\n        var length=id.length;\n        var nid= id.substring(\"5\",length);\n        document.getElementById(\"name\"+nid).value=\"\";\n        document.getElementById(\"lable\"+nid).value=\"\";\n      }\n\n      function backtohome()\n      {\n        window.open('', 'TheWindow');\n        document.getElementById('TheForm').submit();\n      }\n    </script>\n\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect()\";>\n    <h1 id='tag'>Welcome To The NodeRed Configuration Manager</h1>\n    <button class=\"btn\" onclick=\"createformid()\" id=\"add_row_btn\"><i class=\"fa fa-bars\"></i> Add Row</button>\n    <div id=\"screen\"> </div>\n    <br>\n    <label>**if u want to make drop down then copy lable field text entered and enter values in name field by clicking new row button</label>\n    <br>\n    <button id=\"save_config_btn\" onclick=\"submit()\" >Save Configuration</button>\n    <button id=\"user_page_btn\" onclick=\"backtohome()\">Back to Home Page</button>\n    <form id=\"TheForm\" method=\"post\" action=\"/configpages\" target=\"TheWindow\">\n    <input type=\"hidden\" name=\"something\" value=\"something\" />\n    <input type=\"hidden\" name=\"more\" value=\"something\" />\n    <input type=\"hidden\" name=\"other\" value=\"something\" />\n    </form>\n  </body>\n</html>","output":"str","x":540,"y":665,"wires":[["698d6960.757c88"]]},{"id":"deba7d41.69cfe","type":"websocket in","z":"500b3d83.c82fa4","name":"","server":"5b1fd265.e0f91c","client":"","x":107,"y":841,"wires":[["1867ded0.d4cce1","c3b4570b.887f98"]]},{"id":"1ebaf752.d478b9","type":"subflow:2462b580.300a0a","z":"500b3d83.c82fa4","name":"","x":548,"y":828,"wires":[["8d9ae78e.576218"]]},{"id":"1867ded0.d4cce1","type":"function","z":"500b3d83.c82fa4","name":"save to permanent table","func":"//save data to configManager\nmsg=JSON.parse(msg.payload);\n//msg.topic='INSERT INTO configManager (cpuid, cpname, cpr, webPage, cpactive, ver, deleted)  VALUES (\"'+msg.cpuid+'\",\"'+global.get(\"cpname\")+'\",\"123\",\"'+msg.blobcode+'\",\"true\",\"'+global.get(\"cpver\")+'\",\"false\")';\nid1=msg.cpuid;\nid2=global.get('cpname');\nid3=123;\nid4=msg.blobcode;\nid5=1;\nid6=global.get('cpver');\nid7=0;\n//msg.topic='INSERT INTO configManager (cpuid,cpname, cpr, webPage, cpactive, ver, deleted)  VALUES (?,?,?,?,?,?,?)', [id1,id2,id3,id4,id5,id6,id7];\nvar query='INSERT INTO configManager VALUES ( \"' + id1 + '\",\"' + id2 + '\",\"' + id3 + '\",\"'  + id4 + '\",\"' + id5 +'\",\" '+ id6 + '\",\"' + id7 +'\")';\n\nvar newMsg = {\n \"topic\": query\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":326.5,"y":829,"wires":[["1ebaf752.d478b9"]]},{"id":"c3b4570b.887f98","type":"debug","z":"500b3d83.c82fa4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":307,"y":873,"wires":[]},{"id":"8d9ae78e.576218","type":"debug","z":"500b3d83.c82fa4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":726,"y":829,"wires":[]},{"id":"677f09f4.f85368","type":"http in","z":"500b3d83.c82fa4","name":"","url":"/configpages","method":"post","upload":false,"swaggerDoc":"","x":99,"y":397,"wires":[["2d49baf5.b48466"]]},{"id":"e27b4287.3ba91","type":"http response","z":"500b3d83.c82fa4","name":"post /configpages","statusCode":"","headers":{},"x":751,"y":397,"wires":[]},{"id":"fa5a28fe.c1e838","type":"template","z":"500b3d83.c82fa4","name":"configpageslist","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n\t<title></title>\n\t<script type=\"text/javascript\">\n\t\tvar ws;\n\t\tvar data;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"configpages\",\"ws/configpages\");\n\n\t\tfunction getdata()\n\t\t{\n\t\t\tconsole.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n\t\t\t/*code to connect with web socket*/\n            \n            ws.onopen = function() {\n                console.log(\"connected\");\n                var varonload=\"onload\";    \t        \t\n\t        \tws.send(varonload);   \n\t            ws.onmessage = function(msg) {\n\t                data = JSON.parse(msg.data);\n\t                console.log(data);\n\t                console.log(data.length);\n\t\t\t\t\tglobaldiv=document.getElementById('pages');\n\t\t\t\t\tdata.forEach(function(name){\n\t\t\t\t\t\tcnt=name.cpuid;\n\t\t\t\t\t\tvar localdiv=document.createElement('div');\n\t\t\t\t\t\tvar line = document.createElement('hr'); // Giving Horizontal Row After Heading\n        \t\t\t\tlocaldiv.appendChild(line);\n\t\t\t\t\t\tvar lable = document.createElement('lable');\n\t\t\t\t\t\tlocaldiv.appendChild(lable);\n\t\t\t\t\t\tlable.innerHTML += 'Name:'+name.cpname+',Version:'+name.ver+',Active:'+name.cpactive+'  ';\n\t\t\t\t\t\tvar button=document.createElement('button');\n\t\t\t\t\t\tbutton. innerHTML = \"See Generated html Page\"; // Append Submit Button\n\t\t\t\t        button.setAttribute(\"id\",\"blob\"+cnt);\n\t\t\t\t        button.setAttribute(\"onclick\",\"retrive_blob(this.id)\")\n\t\t\t\t\t\tlocaldiv.appendChild(button);\n\t\t\t\t\t\tglobaldiv.appendChild(localdiv);\n\t\t\t\t\t});\n\t\t\t\t\tif(data.length===0)\n\t\t\t\t\t{\n\t\t\t\t\t\tvar lable=document.createElement('lable');\n\t\t\t\t\t\tvar line = document.createElement('hr'); // Giving Horizontal Row After Heading\n        \t\t\t\tglobaldiv.appendChild(line);\n\t\t\t\t\t\tlable.innerHTML='No data Available';\n\t\t\t\t\t\tglobaldiv.appendChild(lable);\n\t\t\t\t\t}\n\t\t\t\t}       \n            }\n\n            ws.onclose = function() {\n                console.log(\"not connected\");\n                setTimeout(wsConnect,3000);\n            }\n\t\t}\n        \n        function retrive_blob(id)\n        {\n            console.log(data);\n            id=id.toString().substring(4,id.length);\n        \tconsole.log(id);\n        \t//send this id to the database and waiting for response\n        \tfor(var count=0;count<data.length;++count)\n        \t{\n        \t\tif(id===data[count].cpuid)\n        \t\t{\n        \t\t\tvar webcontent=data[count].webPage;\n        \t\t\twebcontent1=webcontent.replace(/\"\"/g,'\"');\n        \t\t\tvar newWin = window.open('','_blank');\n\t           \t\tconsole.log(newWin);\n\t           \t\tnewWin.document.body.innerHTML = webcontent1;\n        \t\t}\n        \t}\t            \n      \t}\n\n\t\tfunction createform()\n\t\t{ \n\t\t\tcnt=Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);\n\t\t\tvar x = document.getElementById(\"screen\");\n\t        var createform = document.createElement('form');\n\t        createform.setAttribute(\"id\",\"div\"+cnt);\n\t        createform.setAttribute(\"action\",\"/simple\");\n\t        createform.setAttribute(\"method\",\"post\");\n\t        x.appendChild(createform);\n\n\t        var line = document.createElement('hr'); // Giving Horizontal Row After Heading\n        \tcreateform.appendChild(line);\n\n\t        var name_label = document.createElement('label'); // Create Label for Lable Field\n\t        name_label.innerHTML = \"Enter the name of Config Page \"; // Set Field Labels\n\t        createform.appendChild(name_label);\n\n\t        var inputelement = document.createElement('input');\n\t        inputelement.setAttribute(\"type\",\"text\"); // Create Input Field for Lable\n\t        inputelement.setAttribute(\"id\",\"configname\"+cnt);\n\t        inputelement.setAttribute(\"name\",\"cpname\");\n\t        createform.appendChild(inputelement);\n\n\t        var ver_label = document.createElement('label'); // Create Label for Lable Field\n\t        ver_label.innerHTML = \"Enter the version of Config Page \"; // Set Field Labels\n\t        createform.appendChild(ver_label);\n\n\t        var ver_name = document.createElement('input');\n\t        ver_name.setAttribute(\"type\",\"text\"); // Create Input Field for Lable\n\t        ver_name.setAttribute(\"id\",\"configver\"+cnt);\n\t        ver_name.setAttribute(\"name\",\"cpver\");\n\t        createform.appendChild(ver_name);\n\n\t        var submitbtn = document. createElement(\"button\");\n\t        submitbtn. innerHTML = \"submit\"; // Append Submit Button\n\t        submitbtn.setAttribute(\"id\",\"submit\"+cnt);\n\t        submitbtn.setAttribute(\"type\",\"submit\");\n\t        submitbtn.setAttribute(\"name\",\"submitcpname\");\n\t        submitbtn.setAttribute(\"value\",\"submit\"+cnt);\n\t        createform.appendChild(submitbtn);\n\t\t}\n\t</script>\n</head>\n<body onload=\"getdata()\">\n\t\t<button onclick=\"createform()\">Create Configuration Page</button>\n\t\t<div id=\"screen\"></div>\n\t\t<br><br><label>List of Available Pages</label>\n\t\t<div id=\"pages\"></div>\n\n<div id=\"cp-div\"></div>\n</body>\n</html>","output":"str","x":551.5,"y":397,"wires":[["e27b4287.3ba91"]]},{"id":"c0d905b2.2feeb8","type":"subflow:2462b580.300a0a","z":"500b3d83.c82fa4","name":"","x":474,"y":521,"wires":[["75b29cff.35d134"]]},{"id":"ca3e5de1.b09d5","type":"websocket in","z":"500b3d83.c82fa4","name":"","server":"87645207.4fa69","client":"","x":131,"y":520,"wires":[["94009057.841c9"]]},{"id":"75b29cff.35d134","type":"websocket out","z":"500b3d83.c82fa4","name":"","server":"87645207.4fa69","client":"","x":698,"y":521,"wires":[]},{"id":"94009057.841c9","type":"function","z":"500b3d83.c82fa4","name":"query","func":"var msg =msg.payload;\n//var rolecode=global.get('rolecode');\nif(msg==\"onload\")\n{\n    msg={topic:'select * from configmanager'};\n    return msg;\n}\nif(msg.subString(0,4)==\"blob\")\n{\n    msg={topic:'select * from configmanager'}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":323.5,"y":521,"wires":[["c0d905b2.2feeb8"]]},{"id":"c1c23441.1ecde8","type":"http in","z":"500b3d83.c82fa4","name":"get /signup","url":"/signup","method":"get","upload":false,"swaggerDoc":"","x":187,"y":149,"wires":[["bf3dc92e.376fc8"]]},{"id":"e804bf7b.a45eb","type":"http response","z":"500b3d83.c82fa4","name":"post /configpages","statusCode":"","headers":{},"x":570,"y":138,"wires":[]},{"id":"bf3dc92e.376fc8","type":"template","z":"500b3d83.c82fa4","name":"signup","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n  </head>\n  <body>\n      {{!--to verify email send request to web socket--}}\n    <form id=\"form\" action=\"/configpages\" method=\"post\">\n      <h1>Enter your information below to sign up for our newsletter</h1>\n      <label for=\"email\">Email Address:</label>\n      <input type=\"text\" name=\"email\" />\n      <input type=\"submit\" />\n    </form>\n  </body>\n</html>","output":"str","x":349.5,"y":149,"wires":[["e804bf7b.a45eb"]]},{"id":"2d49baf5.b48466","type":"function","z":"500b3d83.c82fa4","name":"set email a global variable","func":"//set global variable with the email entity;\nglobal.set('email',msg.payload.email);\nreturn msg;","outputs":1,"noerr":0,"x":329.5,"y":397,"wires":[["fa5a28fe.c1e838"]]},{"id":"2928d661.84553a","type":"comment","z":"500b3d83.c82fa4","name":"Alert: main config flow, think 100 times before editing","info":"","x":388.5,"y":39,"wires":[]},{"id":"56297409.85923c","type":"websocket in","z":"500b3d83.c82fa4","name":"","server":"26f9a1b.95b9c5e","client":"","x":85,"y":268,"wires":[["852fab52.6805f8"]]},{"id":"88668883.386588","type":"websocket out","z":"500b3d83.c82fa4","name":"","server":"26f9a1b.95b9c5e","client":"","x":752,"y":268,"wires":[]},{"id":"d24c49b3.8af068","type":"subflow:2462b580.300a0a","z":"500b3d83.c82fa4","name":"","x":424,"y":267,"wires":[["3b53a4b4.35f39c"]]},{"id":"852fab52.6805f8","type":"function","z":"500b3d83.c82fa4","name":"retrive data query","func":"msg=JSON.parse(msg);\nglobal.set('email',msg.payload.email);\nmsg.topic='select * from admintable';\nreturn msg;","outputs":1,"noerr":0,"x":270.5,"y":268,"wires":[["d24c49b3.8af068"]]},{"id":"3b53a4b4.35f39c","type":"function","z":"500b3d83.c82fa4","name":"check validation","func":"if(msg.payload.email==global.get('email'))\n{\n    //set role id as global\n    global.set('rolecode',msg.payload.rolecode);\n    msg.payload=true;\n    return msg;\n}\nmsg.payload=false;\nreturn msg;","outputs":1,"noerr":0,"x":571.5,"y":268,"wires":[["88668883.386588"]]},{"id":"93af555c.7004d8","type":"comment","z":"500b3d83.c82fa4","name":"sign up page on /signup","info":"","x":385.5,"y":96,"wires":[]},{"id":"32ce551a.593dca","type":"comment","z":"500b3d83.c82fa4","name":"web socket connection for /signup connection on /ws/signup","info":"","x":368.5,"y":207,"wires":[]},{"id":"a0a07e8.d321f8","type":"comment","z":"500b3d83.c82fa4","name":"list of config pages on /configpages","info":"","x":386.5,"y":339,"wires":[]},{"id":"4e1ac8a0.5fb9b8","type":"comment","z":"500b3d83.c82fa4","name":"ws connection for /configpages on /ws/configpages","info":"","x":391.5,"y":464,"wires":[]},{"id":"74ea9e49.7fe42","type":"comment","z":"500b3d83.c82fa4","name":"ui to make config page","info":"","x":380,"y":600,"wires":[]},{"id":"8dfc33db.7acbe","type":"comment","z":"500b3d83.c82fa4","name":"web socket to config data in permanent table","info":"","x":430,"y":740,"wires":[]},{"id":"5b1fd265.e0f91c","type":"websocket-listener","z":"","path":"/ws/makecp","wholemsg":"false"},{"id":"87645207.4fa69","type":"websocket-listener","z":"","path":"/ws/configpages","wholemsg":"false"},{"id":"26f9a1b.95b9c5e","type":"websocket-listener","z":"","path":"/ws/signup","wholemsg":"false"}]