node-red-flows/read-subflow.json
[{"id":"28b08db4.65c232","type":"subflow","name":"Read","info":"","category":"","in":[{"x":160,"y":80,"wires":[{"id":"9cf05cfe.afeba"}]}],"out":[{"x":580,"y":80,"wires":[{"id":"19f691b9.9498fe","port":0}]}]},{"id":"9cf05cfe.afeba","type":"function","z":"28b08db4.65c232","name":"Read","func":"msg=JSON.parse(msg.payload);\nquery='select * from '+msg.payload.tableName;\nmsg={topic:query};\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":80,"wires":[["19f691b9.9498fe"]]},{"id":"19f691b9.9498fe","type":"sqlite","z":"28b08db4.65c232","mydb":"74e6d6c7.6d40f8","sqlquery":"msg.topic","sql":"","name":"db","x":450,"y":80,"wires":[[]]},{"id":"74e6d6c7.6d40f8","type":"sqlitedb","z":"","db":"C:\\Users\\no-9\\.node-red\\node-red-config","mode":"RWC"}]