node-red-flows/tweets_and_email_flow.json
[{"id":"cc9c270d.df6df8","type":"tab","label":"tweets and mails","disabled":true,"info":"getting tweets\nsaving in database and\nretrive from database "},{"id":"264b2a8c.64b806","type":"inject","z":"cc9c270d.df6df8","name":"Anshul","topic":"hello manan","payload":"how are you, what are you doing, lets play pubg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":117,"y":102,"wires":[["35f5059b.301cfa","14ccf24a.b49d8e"]]},{"id":"35f5059b.301cfa","type":"debug","z":"cc9c270d.df6df8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":457,"y":62,"wires":[]},{"id":"14ccf24a.b49d8e","type":"e-mail","z":"cc9c270d.df6df8","server":"smtp.gmail.com","port":"465","secure":true,"name":"anshul.sharma@sitpune.edu.in,manan.khandelwal@sitpune.edu.in","dname":"chotu","x":437,"y":122,"wires":[]},{"id":"ce2257de.693ec8","type":"twitter in","z":"cc9c270d.df6df8","twitter":"","tags":"wimbledon","user":"false","name":"Get tweets","inputs":0,"x":120,"y":286,"wires":[["9ffe66a8.1d59d8"]]},{"id":"4455333e.33a29c","type":"debug","z":"cc9c270d.df6df8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":280,"wires":[]},{"id":"d8fbfea5.40c2d","type":"mongodb out","z":"cc9c270d.df6df8","mongodb":"a46cb39e.9a628","name":"save tweets","collection":"nodered","payonly":true,"upsert":false,"multi":false,"operation":"store","x":710,"y":340,"wires":[]},{"id":"f2fa84e5.afa4c8","type":"inject","z":"cc9c270d.df6df8","name":"1 min trigger","topic":"","payload":"hey 10 sec","payloadType":"str","repeat":"60","crontab":"","once":true,"onceDelay":"1","x":140,"y":383,"wires":[["af326afe.2c18e8"]]},{"id":"131fc157.1e2dff","type":"debug","z":"cc9c270d.df6df8","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":458,"wires":[]},{"id":"9ffe66a8.1d59d8","type":"file","z":"cc9c270d.df6df8","name":"adding file","filename":"C:\\Users\\no-9\\Desktop\\temp.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":350,"y":286,"wires":[["4455333e.33a29c"]]},{"id":"af326afe.2c18e8","type":"file in","z":"cc9c270d.df6df8","name":"reading content","filename":"C:\\Users\\no-9\\Desktop\\temp.txt","format":"utf8","chunk":false,"sendError":false,"x":340,"y":380,"wires":[["4d0053c1.7157bc"]]},{"id":"4d0053c1.7157bc","type":"split","z":"cc9c270d.df6df8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":510,"y":383,"wires":[["d8fbfea5.40c2d","131fc157.1e2dff","ebfd9d4c.e3c57"]]},{"id":"63b10a19.c88bb4","type":"http in","z":"cc9c270d.df6df8","name":"gettweet-database","url":"/showtweets","method":"get","upload":false,"swaggerDoc":"","x":154,"y":500,"wires":[["9924c33f.e956a"]]},{"id":"9924c33f.e956a","type":"mongodb in","z":"cc9c270d.df6df8","mongodb":"a46cb39e.9a628","name":"get-tweets","collection":"nodered","operation":"find","x":354,"y":500,"wires":[["40965d74.c73c14"]]},{"id":"40965d74.c73c14","type":"http response","z":"cc9c270d.df6df8","name":"","statusCode":"","headers":{},"x":534,"y":500,"wires":[]},{"id":"5ef1450f.2b40fc","type":"file","z":"cc9c270d.df6df8","name":"adding file","filename":"C:\\Users\\no-9\\Desktop\\temp.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":330,"y":196,"wires":[["5e1d7b59.b56734"]]},{"id":"14285a59.6363a6","type":"inject","z":"cc9c270d.df6df8","name":"Anshul","topic":"hello manan","payload":"how are you, what are you doing, lets play pubg","payloadType":"str","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":196,"wires":[["5ef1450f.2b40fc"]]},{"id":"ebfd9d4c.e3c57","type":"file","z":"cc9c270d.df6df8","name":"delete content","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":720,"y":400,"wires":[[]]},{"id":"5e1d7b59.b56734","type":"debug","z":"cc9c270d.df6df8","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":196,"wires":[]},{"id":"decb085c.60af78","type":"my-node","z":"cc9c270d.df6df8","name":"","x":700,"y":100,"wires":[[]]},{"id":"a46cb39e.9a628","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"nodered","name":"set-tweets"}]