node-red-flows/web-socket-flow.json
[{"id":"d8b39983.a01ec8","type":"tab","label":"Flow 7","disabled":true,"info":""},{"id":"6c5ea7d7.bc31b8","type":"inject","z":"d8b39983.a01ec8","name":"database","topic":"test","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":151,"y":281,"wires":[["61a37060.e336c"]]},{"id":"913fcf09.0b51b","type":"websocket out","z":"d8b39983.a01ec8","name":"","server":"792f2abf.791de4","client":"","x":541,"y":333,"wires":[]},{"id":"3e0abd87.994cd2","type":"http response","z":"d8b39983.a01ec8","name":"","statusCode":"","headers":{},"x":661,"y":172,"wires":[]},{"id":"1613d773.37d0f9","type":"http in","z":"d8b39983.a01ec8","name":"","url":"/simple","method":"get","upload":false,"swaggerDoc":"","x":292,"y":172,"wires":[["4792e2df.cfa55c"]]},{"id":"4792e2df.cfa55c","type":"template","z":"d8b39983.a01ec8","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Simple Live Display</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        var data;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                data = msg.data;\n                console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            console.log(data);\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Simple Live Display</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='doit(\"click\");'>Click to send message</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n","x":489,"y":172,"wires":[["3e0abd87.994cd2"]]},{"id":"61a37060.e336c","type":"function","z":"d8b39983.a01ec8","name":"format time nicely","func":"msg.payload = Date(msg.payload).toString();\nreturn msg;","outputs":1,"noerr":0,"x":332,"y":310,"wires":[["913fcf09.0b51b"]]},{"id":"9fd53174.298c6","type":"websocket in","z":"d8b39983.a01ec8","name":"","server":"792f2abf.791de4","client":"","x":131,"y":363,"wires":[["ea240628.ba4c38"]]},{"id":"ea240628.ba4c38","type":"debug","z":"d8b39983.a01ec8","name":"","active":true,"console":"false","complete":"false","x":535,"y":383,"wires":[]},{"id":"792f2abf.791de4","type":"websocket-listener","z":"d8b39983.a01ec8","path":"/ws/simple","wholemsg":"false"}]